<section
    class="elementor-section elementor-top-section elementor-element elementor-element-1e83c82 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
    data-id="1e83c82"
    data-element_type="section">
    <div class="elementor-container elementor-column-gap-default">
        <div
            class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-39a15ad animated-fast elementor-invisible"
            data-id="39a15ad"
            data-element_type="column"
            data-settings='{"animation":"fadeInUp","_ob_column_hoveranimator":"no"}'>
            <div
            class="elementor-widget-wrap elementor-element-populated">
            <div
                class="elementor-element elementor-element-ce9225d career-stats elementor-widget elementor-widget-counter"
                data-id="ce9225d"
                data-element_type="widget"
                data-settings='{"_ob_allow_hoveranimator":"no"}'
                data-widget_type="counter.default">
                <div class="elementor-widget-container">
                    <div class="elementor-counter">
                        <div
                        class="elementor-counter-number-wrapper">
                        <span
                            class="elementor-counter-number-prefix"></span>
                            <div id="number1" class="number">0</div>
                        <span
                            class="elementor-counter-number-suffix">+</span>
                        </div>
                        <div class="elementor-counter-title">
                        Team members
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div
            class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-cb60467 animated-fast elementor-invisible"
            data-id="cb60467"
            data-element_type="column"
            data-settings='{"animation":"fadeInUp","animation_delay":400,"_ob_column_hoveranimator":"no"}'>
            <div
            class="elementor-widget-wrap elementor-element-populated">
            <div
                class="elementor-element elementor-element-e6e257c career-stats elementor-widget elementor-widget-counter"
                data-id="e6e257c"
                data-element_type="widget"
                data-settings='{"_ob_allow_hoveranimator":"no"}'
                data-widget_type="counter.default">
                <div class="elementor-widget-container">
                    <div class="elementor-counter">
                        <div
                        class="elementor-counter-number-wrapper">
                        <span
                            class="elementor-counter-number-prefix"></span>
                            <div id="number2" class="number">0</div>
                        <span
                            class="elementor-counter-number-suffix">+</span>
                        </div>
                        <div class="elementor-counter-title">
                        Years in business
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div
            class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-0880684 animated-fast elementor-invisible"
            data-id="0880684"
            data-element_type="column"
            data-settings='{"animation":"fadeInUp","animation_delay":200,"_ob_column_hoveranimator":"no"}'>
            <div
            class="elementor-widget-wrap elementor-element-populated">
            <div
                class="elementor-element elementor-element-0457b3d career-stats elementor-widget elementor-widget-counter"
                data-id="0457b3d"
                data-element_type="widget"
                data-settings='{"_ob_allow_hoveranimator":"no"}'
                data-widget_type="counter.default">
                <div class="elementor-widget-container">
                    <div class="elementor-counter">
                        <div
                        class="elementor-counter-number-wrapper">
                        <span
                            class="elementor-counter-number-prefix"></span>
                        
                        <div id="number3" class="number">0</div>
                        <span
                            class="elementor-counter-number-suffix">+</span>
                        </div>
                        <div class="elementor-counter-title">
                        Products developed
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div
            class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-e20f4e1 animated-fast elementor-invisible"
            data-id="e20f4e1"
            data-element_type="column"
            data-settings='{"animation":"fadeInUp","animation_delay":200,"_ob_column_hoveranimator":"no"}'>
            <div
            class="elementor-widget-wrap elementor-element-populated">
            <div
                class="elementor-element elementor-element-4d5ef01 career-stats elementor-widget elementor-widget-counter"
                data-id="4d5ef01"
                data-element_type="widget"
                data-settings='{"_ob_allow_hoveranimator":"no"}'
                data-widget_type="counter.default">
                <div class="elementor-widget-container">
                    <div class="elementor-counter">
                        <div
                        class="elementor-counter-number-wrapper">
                        <span
                            class="elementor-counter-number-prefix"></span>
                            <div id="number4" class="number">0</div>
                        <span
                            class="elementor-counter-number-suffix">%</span>
                        </div>
                        <div
                        class="elementor-counter-title">Candor</div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>
<script>

$(document).ready(function() {
  const numberElements = $(".number");

  const animateNumbers = (element, start, end) => {
    let current = start;

    const updateNumber = () => {
      if (current <= end) {
        element.textContent = current;
        current++;
        setTimeout(updateNumber, 10); // Adjust the time interval here (milliseconds)
      }
    };

    updateNumber();
  };

  animateNumbers(numberElements[0], 0, 75);
  animateNumbers(numberElements[1], 0, 13);
  animateNumbers(numberElements[2], 0, 125);
  animateNumbers(numberElements[3], 0, 100);
});


</script>