<section
class="elementor-section elementor-top-section elementor-element elementor-element-268437c animated-fast elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-invisible"
data-id="268437c"
data-element_type="section"
data-settings='{"animation":"fadeInUp","animation_delay":400}'
>
<div class="elementor-container elementor-column-gap-default">
<div
    class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-7ade5d7"
    data-id="7ade5d7"
    data-element_type="column"
    data-settings='{"_ob_column_hoveranimator":"no"}'
>
    <div
    class="elementor-widget-wrap elementor-element-populated"
    >
    <div
        class="elementor-element elementor-element-e9b94f4 elementor-widget elementor-widget-heading"
        data-id="e9b94f4"
        data-element_type="widget"
        data-settings='{"_ob_allow_hoveranimator":"no"}'
        data-widget_type="heading.default"
    >
        <div class="elementor-widget-container">
        <h2
            class="elementor-heading-title elementor-size-default"
        >
            Trusted and top rated tech team
        </h2>
        </div>
    </div>
    <div
        class="elementor-element elementor-element-743f27b elementor-widget elementor-widget-image-gallery"
        data-id="743f27b"
        data-element_type="widget"
        data-settings='{"_ob_allow_hoveranimator":"no"}'
        data-widget_type="image-gallery.default"
    >
        <div class="elementor-widget-container">
        <div class="elementor-image-gallery">
            <div
            id="gallery-1"
            class="gallery galleryid-9 gallery-columns-4 gallery-size-medium_large"
            >
            <figure class="gallery-item">
                <div class="gallery-icon landscape">
                <img
                    loading="lazy"
                    decoding="async"
                    width="640"
                    height="87"
                    src="https://www.curotec.com/wp-content/uploads/2024/01/clutch_reviews_7e856e.png?w=640"
                    class="attachment-medium_large size-medium_large"
                    alt=""
                    srcset="
                    https://www.curotec.com/wp-content/uploads/2024/01/clutch_reviews_7e856e.png               640w,
                    https://www.curotec.com/wp-content/uploads/2024/01/clutch_reviews_7e856e.png?resize=300,41 300w
                    "
                    sizes="(max-width: 640px) 100vw, 640px"
                />
                </div>
            </figure>
            <figure class="gallery-item">
                <div class="gallery-icon portrait">
                <img
                    loading="lazy"
                    decoding="async"
                    width="12"
                    height="370"
                    src="https://www.curotec.com/wp-content/uploads/2024/01/Screenshot-2024-01-25-at-12.17.39-AM.png?w=12"
                    class="attachment-medium_large size-medium_large"
                    alt=""
                />
                </div>
            </figure>
            <figure class="gallery-item">
                <div class="gallery-icon landscape">
                <img
                    loading="lazy"
                    decoding="async"
                    width="130"
                    height="50"
                    src="https://www.curotec.com/wp-content/uploads/2023/11/comcast-e1700847774284.png?w=130"
                    class="attachment-medium_large size-medium_large"
                    alt=""
                />
                </div>
            </figure>
            <figure class="gallery-item">
                <div class="gallery-icon landscape">
                <img
                    loading="lazy"
                    decoding="async"
                    width="650"
                    height="50"
                    src="https://www.curotec.com/wp-content/uploads/2023/11/automattic-e1700847754935.png?w=650"
                    class="attachment-medium_large size-medium_large"
                    alt=""
                />
                </div>
            </figure>
            <figure class="gallery-item">
                <div class="gallery-icon landscape">
                <img
                    loading="lazy"
                    decoding="async"
                    width="76"
                    height="50"
                    src="https://www.curotec.com/wp-content/uploads/2023/11/gtt-e1700847793922.png?w=76"
                    class="attachment-medium_large size-medium_large"
                    alt=""
                    srcset="
                    https://www.curotec.com/wp-content/uploads/2023/11/gtt-e1700847793922.png                 76w,
                    https://www.curotec.com/wp-content/uploads/2023/11/gtt-e1700847793922.png?resize=768,505 768w
                    "
                    sizes="(max-width: 76px) 100vw, 76px"
                />
                </div>
            </figure>
            <figure class="gallery-item">
                <div class="gallery-icon landscape">
                <img
                    loading="lazy"
                    decoding="async"
                    width="264"
                    height="50"
                    src="https://www.curotec.com/wp-content/uploads/2023/11/ironclad-e1700847743810.png?w=264"
                    class="attachment-medium_large size-medium_large"
                    alt=""
                />
                </div>
            </figure>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
</div>
</section>
