<%= render 'shared/header' %>
<body itemtype='https://schema.org/WebPage' itemscope='itemscope' class="page-template-default page page-id-17 page-child parent-pageid-29121 wp-custom-logo mega-menu-primary ast-desktop ast-page-builder-template ast-no-sidebar astra-4.6.4 ast-single-post ast-inherit-site-logo-transparent ast-hfb-header elementor-page-21366 elementor-default elementor-kit-385 astra-addon-4.6.3">
    <div
        class="hfeed site" id="page">
        <div id="content" class="site-content">
        <div class="ast-container">
            <div id="primary" class="content-area primary">
                <main id="main" class="site-main">
                    <div data-elementor-type="single-page" data-elementor-id="21366" class="elementor elementor-21366 elementor-location-single post-17 page type-page status-publish ast-article-single" data-elementor-post-type="elementor_library">
                    <section class="elementor-section elementor-top-section elementor-element elementor-element-8873455 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="8873455" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
                        <div class="elementor-background-overlay"></div>
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-0129a25 animated-fast elementor-invisible" data-id="0129a25" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeInUp&quot;,&quot;_ob_column_hoveranimator&quot;:&quot;no&quot;}">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-b352991 elementor-widget elementor-widget-theme-post-title elementor-page-title elementor-widget-heading" data-id="b352991" data-element_type="widget" data-settings="{&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;}" data-widget_type="theme-post-title.default">
                                    <div class="elementor-widget-container">
                                        <h1 class="elementor-heading-title elementor-size-default">Terms and Conditions</h1>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="elementor-section elementor-top-section elementor-element elementor-element-84ae3be elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="84ae3be" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-no">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-5412acf" data-id="5412acf" data-element_type="column" data-settings="{&quot;_ob_column_hoveranimator&quot;:&quot;no&quot;}">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-0b95464 elementor-widget elementor-widget-theme-post-content" data-id="0b95464" data-element_type="widget" data-settings="{&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;}" data-widget_type="theme-post-content.default">
                                    <div class="elementor-widget-container">
                                        <h2 class="wp-block-heading" id="h-acceptance-of-this-agreement">Acceptance of This Agreement</h2>
                                        <p>Your access to and use of this website (“the Website”) is subject exclusively to these Terms and Conditions. You will not use the Website for any purpose that is unlawful or prohibited by these Terms and Conditions. By using the Website, you are fully accepting the terms, conditions, and disclaimers contained in this notice. If you do not accept these Terms and Conditions, you must immediately stop using the Website.</p>
                                        <h2 class="wp-block-heading" id="h-advice">Advice</h2>
                                        <p>The contents of the Website do not constitute advice and should not be relied upon in making or refraining from making any decision.</p>
                                        <h2 class="wp-block-heading" id="h-changes-to-website-software-and-services">Changes to Website, Software, and Services</h2>
                                        <p>Igknight Tech, LLC reserves the right to;</p>
                                        <ol>
                                            <li>change or remove (temporarily or permanently) the Website or any part of it without notice and you confirm that Igknight Tech, LLC, shall not be liable to you for any such change or removal.</li>
                                            <li>change, remove, or discontinue any software, service, or promotion (including but not limited to any previsions, parts thereof, licensing, pricing) as advertised on this website at any time without notice and you confirm that Igknight Tech, LLC, shall not be liable for any such change or removal.</li>
                                            <li>change or discontinue any promotional discount vouchers or coupon codes at any time with notice and you confirm that Igknight Tech, LLC, shall not be liable for any such change or removal.</li>
                                            <li>change this Agreement at any time, and your continued use of the Website following any changes shall be deemed to be your acceptance of such change.</li>
                                        </ol>
                                        <h2 class="wp-block-heading" id="h-links-to-third-party-website">Links to Third Party Website</h2>
                                        <p>The Website may include links to third party websites that are controlled and maintained by others. Any link to other websites is not an endorsement of such websites and you acknowledge and agree that we are not responsible for the content or availability of any such sites.</p>
                                        <h2 class="wp-block-heading" id="h-copyright">Copyright</h2>
                                        <p>The Intellectual Property Rights in this website and the materials on or accessible via it belong to Igknight Tech, LLC” or its licensors. This website and the materials on or accessible via it and the Intellectual Property Rights therein may not be copied, distributed, published, licensed, used, or reproduced in any way (save to the extent strictly necessary for, and for the purposes of, accessing and using this website). “Igknight Tech, LLC” and the Igknight Tech, LLC, logo are trademarks that belong to “Igknight Tech, LLC” and they may not be used, copied, or reproduced in any way without written consent from “Igknight Tech, LLC.” For these purposes,&nbsp;<strong>“Intellectual Property Rights”</strong>&nbsp;includes the following (wherever and whenever arising and for the full term of each of them): any patent, trademark, trade name, service mark, service name, design, design right, copyright, database right, moral rights, know-how, trade secret and other confidential information, rights in the nature of any of these items in any country, rights in the nature of unfair competition rights, and rights to sue for passing off or other similar intellectual or commercial right (in each case whether or not registered or registrable) and registrations of and applications to register any of them.</p>
                                        <h2 class="wp-block-heading" id="h-limitation-of-liability">Limitation of Liability</h2>
                                        <p>The Website is provided on an “AS IS” and “AS AVAILABLE” basis without any representation or endorsement made and without warranty of any kind, whether express or implied, including but not limited to the implied warranties of satisfactory quality, fitness for a particular purpose, non-infringement, compatibility, security, and accuracy. To the extent permitted by law, Igknight Tech, LLC, will not be liable for any indirect or consequential loss or damage whatever (including without limitation loss of business, opportunity, data, profits) arising out of or in connection with the use of the Website. Igknight Tech, LLC, makes no warranty that the functionality of the Website will be uninterrupted or error free, that defects will be corrected, or that the Website or the server that makes it available are free of viruses or anything else which may be harmful or destructive.<br>Nothing in these Terms and Conditions shall be construed so as to exclude or limit the liability of Igknight Tech, LLC, for death or personal injury as a result of the negligence of Igknight Tech, LLC, or that of its employees or agents.</p>
                                        <h2 class="wp-block-heading" id="h-indemnity">Indemnity</h2>
                                        <p>You agree to indemnify and hold Igknight Tech, LLC, and its employees and agents harmless from and against all liabilities, legal fees, damages, losses, costs, and other expenses in relation to any claims or actions brought against Igknight Tech, LLC, arising out of any breach by you of these Terms and Conditions or other liabilities arising out of your use of this Website.</p>
                                        <h2 class="wp-block-heading" id="h-severability">Severability</h2>
                                        <p>In the event that any provision of this Agreement is declared by any judicial or other competent authority to be void, voidable, illegal, or otherwise unenforceable or indications of the same are received by either you or us from any relevant competent authority, we shall amend that provision in such reasonable manner as achieves the intention of the parties without illegality or, at our discretion, such provision may be severed from this Agreement and the remaining provisions of this Agreement shall remain in full force and effect.</p>
                                        <h2 class="wp-block-heading" id="h-applicable-law-and-dispute">Applicable Law and Dispute</h2>
                                        <p>This Agreement and all matters arising from it are governed by and construed in accordance with the laws of Chester County Pennsylvania, whose courts shall have exclusive jurisdiction over all disputes arising in connection with this Agreement and the place of performance of this Agreement is agreed by you to be Pennsylvania.</p>
                                        <h2 class="wp-block-heading" id="h-headings">Headings</h2>
                                        <p>Headings are included in this Agreement for convenience only and shall not affect the construction or interpretation of this Agreement.</p>
                                        <h2 class="wp-block-heading" id="h-entire-agreement">Entire Agreement</h2>
                                        <p>These terms and conditions, together with any documents expressly referred to in them, contain the entire Agreement between us relating to the subject matter covered and supersede any previous Agreements, arrangements, undertakings, or proposals, written or oral: between us in relation to such matters. No oral explanation or oral information given by any party shall alter the interpretation of these terms and conditions. In agreeing to these terms and conditions, you have not relied on any representation other than those expressly stated in these terms and conditions and you agree that you shall have no remedy in respect of any misrepresentation which has not been made expressly in this Agreement.</p>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="elementor-section elementor-top-section elementor-element elementor-element-4769868 elementor-section-full_width elementor-section-stretched elementor-section-height-default elementor-section-height-default" data-id="4769868" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
                    <%= render 'curotec/shared/consultation'%>
                    </section>
                    </div>
                </main>
                <!-- #main -->
            </div>
            <!-- #primary -->
        </div>
        <!-- ast-container -->
        </div>
    </div>
    <!-- #page -->
    <div id="ast-scroll-top" tabindex="0" class="ast-scroll-top-icon ast-scroll-to-top-right" data-on-devices="both">
        <span class="ast-icon icon-arrow">
        <svg class="ast-arrow-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="26px" height="16.043px" viewBox="57 35.171 26 16.043" enable-background="new 57 35.171 26 16.043" xml:space="preserve">
            <path d="M57.5,38.193l12.5,12.5l12.5-12.5l-2.5-2.5l-10,10l-10-10L57.5,38.193z"/>
        </svg>
        </span>
        <span class="screen-reader-text">Scroll to Top</span>
    </div>
</body>